{% extends 'base.html' %}

{% block content %}



    <div style="height:100vh;background:aqua">
        <br><br>
        <center><h2>Log In</h2></center>
        <br>
        <form style="margin-left: 300px;" action="" method="POST">
            {% csrf_token %}
            <br>
            <h3 style="background-color: brown; width:800px; height:40px; border-radius:5px;" >{{error}}</h3>
            {{form.as_p}}
            <button style="margin-left: 100px;" type="submit" class="btn btn-success" >Log In</button>
        </form>
    </div>


{% endblock  %}